.cartitemsproducts{
    /* margin-top: 20px; */
    display: grid;
    /* justify-content: space-evenly; */
    width: 95%;
    position: relative;
    right: 0;
    top:80px;
    row-gap: 50px;
    justify-items: center;
    padding: 30px 0px;
    margin: auto;
    justify-items: center;

}
.cartitemsproducts .name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .cartitemsproducts div{
    margin: auto;
  }

.cartitemsproducts button{
    width:90%;
    height:30px;
    margin:15px auto;
    background-color: red;
}

.cartitemsproducts button:hover{
    color:white;
    background-color: black;
}
  
  
@media screen and (max-width:500px){
    .cartitemsproducts{
        grid-template-columns:1fr;  
         width:95%;
         top:80px;
    }
}
@media screen and (min-width:500px){
    .cartitemsproducts{
        grid-template-columns:1fr 1fr;   
        width: 95%;
    }
}

@media screen and (min-width:700px){
    .cartitemsproducts{
        grid-template-columns:1fr 1fr 1fr;   
    }
}