/* .header1element{
display:inline
} */
.header1{
    display: flex;
    border:2px solid;
    height: 50px;
    box-sizing: border-box;
    align-items: center;
    position: fixed;
    width: 100%;
    top:0px;
    background-color: aqua;
    z-index: 10;
}
.header1element{
 text-align: center;
 /* border-width: 0px 2px 0px 0px;
 border-style: solid; */
}
.header1element1{
    width:30%;
}
.header1element2{
    width:30%;
    height: 80%;
    /* border:2px solid; */
}
.header1element2 input{
    width:90%;
    height: 100%;
    /* outline:; */
    border: 1px solid;
    box-sizing: border-box;
    padding: 0px 5px;
    /* margin: 1% 0%; */
}
.threelines{
    display: none;
}
.header1element3,.header1element4,.header1element5,.header1element6{
    width:calc(40% / 4);
    position: relative;
    text-align: center;
}
.header1 .active{
    color: rgb(0, 255, 4);
}

.header1 #link.active{
    color:red;
}

.header1element3::after,.header1element4::after,.header1element5::after,.header1element6::after{
content: "";
transition: 0.5s;
position: absolute;
width:0%;
height: 20%;
left:0%;
bottom:-20%;
background-color: rgb(26, 224, 122);
}
.header1element3:hover::after,.header1element4:hover::after,.header1element5:hover::after,.header1element6:hover::after{
content: "";
position: absolute;
width:100%;
height: 20%;
left:0%;
bottom:-20%;
background-color: rgb(26, 224, 122);
}


.header1 .search{
    position: fixed;
    border: 2px solid;
    width:25%;
    text-align: center;
    left: 32%;
    top:42px;
    z-index: 100;
}
.header1 .search button{
    width: 100%;
    background-color: aqua;
}

@media screen and (max-width:650px) {
    .header1elementnav{
        display: none;
    }
    .header1elementnav.header1element3{
        display: block;
       width:15%
    }
    .threelines{
        display: inline;
        height: 90%;
        width: 10%;
    }
    .threelines img{
        height: 100%;
        width: 90%;
    }
    .header1element1{
        width:20%;
    }
    .header1element2{
        width:55%;
        height: 80%;
        /* border:2px solid; */
    }
    .header1 .search{
        width:45%;
        left: 24.5%;
    }
}