body{
    text-align: center;
    /* min-height: 150vh; */
    margin: 0;
    padding: 0;
}

#root{
    position: relative;
}

*{
    margin: 0;
    padding: 0;
}
.products{
    /* margin-top: 20px; */
    display: grid;
    /* justify-content: space-evenly; */
    width: 85%;
    position: absolute;
    right: 0;
    top:0px;
    row-gap: 50px;
    justify-items: center;
    padding: 30px 0px;

}
.prices{
    width:15%;
    background-color: aqua;
    position: fixed;
    height: 100%;
    top:80px;

}
.prices h2{
    margin: 30px 0px;
}
hr{
    width: 99.8%;
}

.search{
    position: fixed;
    border: 10px solid;
    width:25%;
    text-align: center;
    left: 40%;
    top:20px;
    z-index: 1;
}
.pricefilterhead{
    color:red;
    background-color:violet;
    padding:5px;
    margin:10px 0px
}

@media screen and (max-width:500px){
    .products{
        grid-template-columns:1fr;  
         width:100%;
         top:40px;
    }
    .prices{
        min-width:100%;
        display:flex;
        height:40px;
        position: fixed;
        z-index: 1;
        overflow: auto;
    }
    .pricefilterhead{
        background-color:violet;
    }
    .prices h2{
        flex-shrink: 0;
        display: inline-block;
        font-size: 15px;
        margin:auto;
        min-width: 70px;
    }
    .prices hr{
        width:2px;
    }
}

@media screen and (max-width:650px){
    .search{
        width:70%
    }
}

@media screen and (min-width:500px){
    .products{
        grid-template-columns:1fr 1fr;   
        width: 85%;
    }
    /* .prices{
        width:15%;
        background-color: aqua;
        position: fixed;
        height: 100%;
        top:80px;
        display: block;
    
    } */
}

@media screen and (min-width:700px){
    .products{
        grid-template-columns:1fr 1fr 1fr;   
    }
}

@keyframes anim{
    0%{
        left:-30%;
    }
    /* 50%{
        left:110%;
    } */
    100%{
        left:120%;
    }
}


.test{
    color:rgb(43, 179, 225);
    background-attachment: local;
}